@charset "UTF-8";
/* ==========================================================================
    BASE
     ========================================================================== */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    not supported by any browser */
}
::selection {
  background: #292440;
  /* WebKit/Blink Browsers */
  color: #FFF;
}
::-moz-selection {
  background: #292440;
  /* Gecko Browsers */
  color: #FFF;
}
* {
  text-rendering: optimizeLegibility;
}
.smooth-active .smooth {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.5s cubic-bezier(0.2, 0.84, 0.5, 1);
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pt-font {
  font-family: 'PT Serif', serif;
}
.roboto-font {
  font-family: 'Roboto', sans-serif;
}
select,
[type=text],
[type=password],
[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=week],
[type=email],
[type=number],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=color],
textarea {
  padding: 1rem;
  border-radius: 6px;
  height: 3.2rem;
}
[type=text]:focus,
[type=password]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=month]:focus,
[type=week]:focus,
[type=email]:focus,
[type=number]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=time]:focus,
[type=url]:focus,
[type=color]:focus,
textarea:focus {
  border: 2px solid #292440;
  box-shadow: none;
}
body {
  font-family: 'PT Serif', serif;
  font-weight: 500;
  font-size: 16px;
  color: #5E5E5E;
  line-height: 1em;
  background: #F7F7F7;
}
h1,
h2,
h3,
h4 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  color: #303030;
  margin-bottom: 1rem;
}
.uppercase-titles h1,
.uppercase-titles h2,
.uppercase-titles h3,
.uppercase-titles h4 {
  text-transform: uppercase;
}
h1 {
  font-size: 45px;
  line-height: 47px;
}
h2 {
  font-size: 40px;
  line-height: 42px;
  color: #434343;
}
body a:hover,
a.dark-hover:hover {
  color: #292929;
}
body p {
  line-height: 1.4em;
}
a,
button {
  font-weight: normal;
  transition: all 0.25s ease;
  border: 0;
}
a.ext-link,
button.ext-link {
  position: relative;
}
a.ext-link:after,
button.ext-link:after {
  position: absolute;
  top: 5px;
  right: -25px;
  content: "";
  width: 19px;
  height: 19px;
  background: url("../images/ui/external.png") no-repeat;
  background-size: 19px 38px;
}
a.ext-link:hover:after,
button.ext-link:hover:after {
  background-position: 0 -19px;
}
a.readmore,
button.readmore {
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  border-radius: 3px;
}
a.readmore.outline-white,
button.readmore.outline-white {
  border: solid 2px #FFF;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600;
}
a.readmore.outline-white:hover,
button.readmore.outline-white:hover {
  background: #FFF;
  color: #292440;
}
a.readmore-text,
button.readmore-text {
  text-decoration: underline;
  color: #292440;
}
a.button,
button.button {
  padding: 20px 40px;
  text-decoration: none!important;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  border-radius: 4px;
  font-size: 19px;
  line-height: 1em;
  background: #292440;
  font-family: 'Roboto', sans-serif;
}
a.button.full-width,
button.button.full-width {
  width: 100%;
}
a.button.red,
button.button.red {
  padding: 15px 30px;
  background-color: #d1392d;
  border: solid 3px #d1392d;
}
a.button.red:hover,
button.button.red:hover {
  background: none;
}
a.button.grey,
button.button.grey {
  background: #d3d3d3;
}
a.button.outline,
button.button.outline {
  background: none;
  border: solid 3px #666666;
  color: #666666;
}
a.button.outline.white,
button.button.outline.white {
  border-color: #FFF!important;
  color: #FFF;
}
a.button.outline.red,
button.button.outline.red {
  border-color: #292440;
  color: #292440;
}
a.button.outline:hover,
button.button.outline:hover {
  background: #666666;
  color: #FFF;
}
a.button.outline:hover.red,
button.button.outline:hover.red {
  background: #292440;
}
a.button:hover,
button.button:hover {
  background: #14121f;
  transition: all 0.25s ease;
}
a.underline,
button.underline {
  display: inline-block;
  border-bottom: 2px solid #292440;
  line-height: 1.1em;
}
a.underline:hover,
button.underline:hover {
  border-bottom-color: #000;
  transition: all 0.25s ease;
}
a.round,
button.round {
  border: solid 2px #E9E9E9;
  color: #757575;
  border-radius: 999px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.25s ease;
}
a.round:hover,
button.round:hover {
  color: #292440;
  border-color: #292440;
  transition: all 0.25s ease;
}
.white-bg {
  background-color: #FFF;
}
.border-bottom {
  border-bottom: solid 1px #D0D0D0;
}
.green-bg {
  background-color: #292440;
}
hr.border_hr {
  border: 0;
  height: 2px;
  background: #FFF;
}
/* ==========================================================================
    NAVIGATION
     ========================================================================== */
.off-canvas-content {
  box-shadow: none;
  background: none;
}
.off-canvas {
  background: none;
}
.off-canvas .close-button {
  margin-bottom: 30px;
  position: relative;
  color: #FFF;
  right: auto;
  top: auto: left: auto;
  width: 25px;
}
body .off-canvas-wrapper {
  background: #292440;
}
body .off-canvas-wrapper .off-canvas-wrapper-inner {
  background: #F7F7F7;
}
body .off-canvas-wrapper .off-canvas.position-right {
  padding: 10px 0 0 30px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1.4em;
  font-weight: 500;
}
body .off-canvas-wrapper .off-canvas.position-right a {
  display: inline-block;
}
body .off-canvas-wrapper .off-canvas.position-right a:after {
  bottom: 0;
}
body .off-canvas-wrapper .off-canvas.position-right li a {
  padding: .3rem 0;
  color: #FFF;
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
}
body .off-canvas-wrapper .off-canvas.position-right li a:after {
  bottom: .3rem;
}
body .off-canvas-wrapper .off-canvas.position-right li.main-section a {
  font-weight: 900;
  font-size: 25px;
  line-height: 22px;
  border-bottom: solid 1px #ffffff;
  padding-bottom: 20px;
  padding-top: 15px;
}
body .off-canvas-wrapper .off-canvas.position-right li.main-section a span {
  margin-top: 10px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}
body .off-canvas-wrapper .off-canvas.position-right li.main-section.last {
  margin-bottom: 15px;
}
body .off-canvas-wrapper .off-canvas.position-right .company-info {
  margin-top: 40px;
  margin-bottom: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: solid 1px #FFF;
  border-bottom: solid 1px #FFF;
}
body .off-canvas-wrapper .off-canvas.position-right .company-info a {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
  font-weight: 500;
}
body .off-canvas-wrapper .off-canvas.position-right .contact-info {
  margin-top: 25px;
}
body .off-canvas-wrapper .off-canvas.position-right a {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
  font-weight: 500;
}
.js-off-canvas-exit {
  background: rgba(0, 0, 0, 0.5);
}
#top-bar-menu {
  background: none;
  transition: all 0.25s ease;
  padding: 0;
  position: fixed!important;
  margin-top: 0!important;
  z-index: 999;
  top: 0;
  width: 100%!important;
}
.menu-sticky #top-bar-menu,
#top-bar-menu:hover,
.top-bar-active #top-bar-menu {
  background: #FFF;
  border-bottom: solid 1px rgba(151, 151, 151, 0.2);
}
.menu-sticky #top-bar-menu #main-navigation ul li a,
#top-bar-menu:hover #main-navigation ul li a,
.top-bar-active #top-bar-menu #main-navigation ul li a {
  color: #303030;
}
.menu-sticky #top-bar-menu #main-navigation ul li.current-menu-parent a:after,
#top-bar-menu:hover #main-navigation ul li.current-menu-parent a:after,
.top-bar-active #top-bar-menu #main-navigation ul li.current-menu-parent a:after,
.menu-sticky #top-bar-menu #main-navigation ul li.current-menu-item a:after,
#top-bar-menu:hover #main-navigation ul li.current-menu-item a:after,
.top-bar-active #top-bar-menu #main-navigation ul li.current-menu-item a:after {
  border-bottom-color: #292440;
}
.menu-sticky #top-bar-menu #logo-wr a img.default,
#top-bar-menu:hover #logo-wr a img.default,
.top-bar-active #top-bar-menu #logo-wr a img.default {
  opacity: 0;
}
.menu-sticky #top-bar-menu #logo-wr a img.color,
#top-bar-menu:hover #logo-wr a img.color,
.top-bar-active #top-bar-menu #logo-wr a img.color {
  opacity: 1;
}
.menu-sticky #top-bar-menu #main-navigation .title-bar-right .icon-menu,
#top-bar-menu:hover #main-navigation .title-bar-right .icon-menu,
.top-bar-active #top-bar-menu #main-navigation .title-bar-right .icon-menu {
  color: #303030;
}
.menu-sticky #top-bar-menu .book-demo-cta .button,
#top-bar-menu:hover .book-demo-cta .button,
.top-bar-active #top-bar-menu .book-demo-cta .button {
  background: none;
  border: solid 2px #292440;
  color: #292440;
}
.menu-sticky #top-bar-menu .book-demo-cta .button:hover,
#top-bar-menu:hover .book-demo-cta .button:hover,
.top-bar-active #top-bar-menu .book-demo-cta .button:hover {
  background: #292440;
  color: #FFF;
}
#top-bar-menu.nav-up {
  top: -140px;
  border-bottom-width: 0;
}
.is-off-canvas-open #top-bar-menu {
  top: 0!important;
}
.wp-admin #top-bar-menu {
  top: 32px;
  margin-top: 0!important;
}
.wp-admin #top-bar-menu.nav-up {
  top: -110px !important;
}
#top-bar-menu ul {
  background: none;
}
#top-bar-menu #logo-wr {
  height: 100%;
  position: relative;
  float: left;
  margin-top: 32px;
}
#top-bar-menu #logo-wr ul {
  height: 100%;
  float: left;
  margin-right: 20px;
}
#top-bar-menu #logo-wr ul li {
  height: 100%;
  padding: 0;
  display: block;
}
#top-bar-menu #logo-wr a {
  display: block;
  height: 100%;
  width: 140px;
  position: relative;
}
#top-bar-menu #logo-wr a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menu-sticky #top-bar-menu #logo-wr a img.default {
  opacity: 0;
}
#top-bar-menu #logo-wr a img.color {
  opacity: 0;
}
.menu-sticky #top-bar-menu #logo-wr a img.color {
  opacity: 1;
}
#top-bar-menu .mobile-contact-details {
  padding-top: 8px;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 500;
  color: #292440;
}
#top-bar-menu .mobile-contact-details a {
  display: block;
}
#top-bar-menu .book-demo-cta {
  padding: 1.35rem 0 0 1.9rem;
}
#top-bar-menu .book-demo-cta .button {
  font-size: 16px;
  background: none;
  display: inline-block;
  position: relative;
  width: auto;
  color: #FFF;
  border-radius: 999px;
  font-weight: 500;
  margin: 0;
  padding: .8rem 2rem;
  border: solid 2px #FFF;
}
#top-bar-menu .book-demo-cta .button:hover {
  background: #292440;
  color: #FFF;
}
#top-bar-menu #main-navigation .title-bar-right {
  height: 20px;
  margin-top: 34px;
  margin-left: 40px;
}
.not-home #top-bar-menu #main-navigation .title-bar-right {
  margin-left: 20px;
}
#top-bar-menu #main-navigation .title-bar-right .icon-menu {
  color: #FFF;
  display: block;
  transition: all 0.35s ease;
  font-size: 20px;
}
#top-bar-menu #main-navigation .title-bar-right .icon-menu:hover:before {
  color: #292440;
}
.menu-sticky #top-bar-menu #main-navigation .title-bar-right .icon-menu {
  color: #303030;
}
.menu-sticky #top-bar-menu #main-navigation .title-bar-right .icon-menu:hover:before {
  color: #292440;
}
#top-bar-menu #main-navigation .title-bar-right button {
  border: 0;
}
#top-bar-menu #main-navigation ul {
  float: left;
  font-size: 0;
}
#top-bar-menu #main-navigation ul li {
  padding: 2.25rem 1.5rem 2.15rem 1.35rem;
  display: inline-block;
}
#top-bar-menu #main-navigation ul li *,
#top-bar-menu #main-navigation ul li *:after {
  transition: all 0.25s ease;
}
#top-bar-menu #main-navigation ul li.current-menu-parent a:after,
#top-bar-menu #main-navigation ul li.current-menu-item a:after {
  bottom: -0.5rem;
  transform: scaleX(1);
  opacity: 1;
  transition: all 0.25s ease;
}
#top-bar-menu #main-navigation ul li.current-menu-item a:after {
  border-bottom-color: #FFF;
}
#top-bar-menu #main-navigation ul li a {
  position: relative;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 19px;
  padding: 0;
  transition: all 0.25s ease;
}
.menu-sticky #top-bar-menu #main-navigation ul li a {
  color: #303030;
}
#top-bar-menu #main-navigation ul li a:after {
  display: block;
  position: absolute;
  bottom: -0.5rem;
  content: '';
  left: 0;
  right: 0;
  opacity: 0;
  transform: scaleX(0);
  border-bottom: solid 3px #292440;
  transition: all 0.25s ease;
}
#top-bar-menu #main-navigation ul li a:hover:after {
  transform: scaleX(1);
  opacity: 1;
  transition: all 0.25s ease;
}
#top-bar-menu #main-navigation ul li span.underline {
  display: block;
  background: #FFF;
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
}
#top-bar-menu #main-navigation ul li:last-child {
  padding-right: 0;
}
#top-bar-menu #main-navigation ul li:last-child a {
  border: 0;
}
#top-bar-menu #main-navigation ul li .sub-menu-wr {
  transition: all 0.5s ease;
  max-height: 0;
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  background: #292440;
  overflow: hidden;
}
.admin-bar #top-bar-menu #main-navigation ul li .sub-menu-wr {
  top: 121px;
}
#top-bar-menu #main-navigation ul li .sub-menu-wr ul {
  width: 100%;
  margin: 0;
  font-size: 0;
  text-align: center;
}
#top-bar-menu #main-navigation ul li .sub-menu-wr ul li {
  padding: 0;
}
#top-bar-menu #main-navigation ul li .sub-menu-wr ul li a {
  font-family: 'PT Serif', serif;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  display: block;
  padding: 1.5rem 3.5rem;
  border-right: solid 1px #52B3B1;
}
#top-bar-menu #main-navigation ul li .sub-menu-wr ul li a:hover {
  background: #52B3B1;
}
#top-bar-menu #main-navigation ul li .sub-menu-wr ul li a:after {
  display: none;
}
#top-bar-menu #main-navigation ul li .sub-menu-wr ul li:first-child a {
  border-left: solid 1px #52B3B1;
}
#top-bar-menu #main-navigation ul li .sub-menu-wr ul li:last-child a {
  border-left: 0;
}
#top-bar-menu #main-navigation ul li:hover .sub-menu-wr {
  max-height: 200px;
  transition: all 0.5s ease;
}
.something-semantic {
  display: table;
  width: 100%;
}
.something-else-semantic {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
footer {
  background: #FFF;
  border-top: solid 1px #E9E9E9;
  font-family: 'Roboto', sans-serif;
}
footer.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .inner-footer ul {
  display: inline-block;
}
footer .inner-footer ul.border-right {
  border-right: solid 1px #BABABA;
  padding-right: 40px;
}
footer .inner-footer ul.footer-secondary-menu {
  padding-left: 40px;
}
footer .inner-footer ul.footer-secondary-menu li {
  margin-right: 40px;
}
footer .inner-footer ul.footer-secondary-menu li:last-child {
  margin: 0;
}
footer .inner-footer ul.footer-secondary-menu li.contact-us {
  background: #d1392d;
  padding: 0 20px;
}
footer .inner-footer ul.footer-secondary-menu li.contact-us a {
  color: #FFF;
}
footer .inner-footer ul li {
  float: left;
  height: 60px;
  margin-right: 25px;
  color: #303030;
  font-size: 15px;
}
footer .inner-footer ul li:last-child {
  margin: 0;
}
footer .inner-footer ul li a {
  display: block;
}
footer .inner-footer ul li a span:before {
  margin-right: 10px;
}
.credits {
  height: 30px;
  font-size: 12px;
  line-height: 1em;
  overflow: hidden;
}
.credits span,
.credits a {
  opacity: 1;
  font-size: 12px;
  line-height: 1em;
  display: inline;
  color: #000;
}
.credits .collective {
  opacity: 1;
  position: relative;
  top: -3px;
  margin-left: 5px;
}
.credits span.icon {
  font-size: 12px;
}
.credits .credit {
  display: none;
  top: 2px;
  position: relative;
  font-family: 'PT Serif', serif;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}
.credits .credits-wr {
  display: none;
  position: relative;
  transition: all 0.25s ease;
  top: 0;
}
.credits:hover .credits-wr {
  top: -50px;
}
/* ==========================================================================
    SLIDER
     ========================================================================== */
.header-slider-wr {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.header-slider-wr .arrow-bottom {
  display: block;
  padding: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -10px;
  z-index: 999;
}
.header-slider-wr .backstretch-image {
  height: 550px;
}
.slim-header .header-slider-wr .backstretch-image {
  height: 300px;
  padding-top: 75px;
}
.home .header-slider-wr .backstretch-image,
.header-slider-wr .backstretch-image .slide-content-right {
  height: 750px;
}
.header-slider-wr #background-video {
  background: #000;
}
.header-slider-wr video {
  background: #000;
  opacity: 0;
  transition: opacity 1s ease;
}
.header-slider-wr video.playing {
  opacity: .8;
  transition: opacity 1s ease;
}
.header-slider-wr .slide-content-wr {
  position: relative;
  z-index: 10;
}
.header-slider-wr .slide-content-wr .quote-form {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
.header-slider-wr .slide-content-wr .quote-form h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 35px;
  color: #F7F7F7;
}
.header-slider-wr .slide-content-wr .quote-form .quote-form-inner {
  margin-top: 40px;
}
.header-slider-wr .slide-content-wr .quote-form .quote-form-inner .title-wr {
  margin-bottom: 15px;
}
.blog .header-slider-wr .slide-content-wr {
  height: 300px;
}
.blog .header-slider-wr .slide-content-wr .hero h1 {
  font-weight: 700;
  font-size: 49px;
  line-height: 65px;
  color: #FFFFFF;
  text-transform: none;
}
.header-slider-wr .slide-content-wr .hero {
  font-family: 'PT Serif', serif;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 39.59px;
}
.header-slider-wr .slide-content-wr .hero h1 {
  color: #FFFFFF;
  font-family: 'PT Serif', serif;
  font-size: 55px  ;
  line-height: 1.2em;
  font-weight: 500;
}
.home .header-slider-wr .slide-content-wr .hero h1 {
  font-size: 36px;
}
.header-slider-wr .slide-content-wr .hero h1 span.first {
  display: inline-block;
  position: relative;
}
.header-slider-wr .slide-content-wr .hero h1 span.first:after {
  display: block;
  position: absolute;
  bottom: -0.25rem;
  content: '';
  left: 0;
  right: 0;
  border-bottom: solid 5px #FFFFFF;
  transition: all 0.25s ease;
}
.header-slider-wr .slide-content-wr .hero .subtitle {
  font-size: 20px;
  line-height: 1.7em;
  font-weight: 500;
}
.header-slider-wr .slide-content-wr .hero .play-video-wr {
  margin-top: 40px;
}
.header-slider-wr .slide-content-wr .hero .play-video-wr * {
  transition: all 0.25s ease;
}
.header-slider-wr .slide-content-wr .hero .play-video-wr span {
  display: inline-block;
  cursor: pointer;
}
.header-slider-wr .slide-content-wr .hero .play-video-wr span.icon:before {
  display: block;
  font-size: 70px;
  margin: 0 auto;
}
.header-slider-wr .slide-content-wr .hero .play-video-wr span:hover {
  color: #d3d3d3;
}
.header-slider-wr .slide-content-wr .hero .play-video-wr span span {
  display: block;
  font-size: 14px;
  line-height: 1em;
  display: inline-block;
  margin-top: 15px;
}
.header-slider-wr .slide-content-wr .vhr {
  padding: 20px 0;
}
.header-slider-wr .slide-content-wr .vhr div {
  background: rgba(255, 255, 255, 0.25);
  width: 2px;
  height: 100%;
  margin: 0 auto;
}
.header-slider-wr .slide-content-wr .main-quote-wr {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  font-family: 'PT Serif', serif;
  color: #F7F7F7;
  line-height: 50px;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.26);
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  margin-top: 0;
}
.header-slider-wr .slide-content-wr .main-quote-wr .rating {
  margin-top: 20px;
  font-size: 40px;
}
.header-slider-wr .slide-content-wr .main-quote-wr .rating span {
  display: inline-block;
  margin-right: -20px;
}
.header-slider-wr .slide-content-wr .main-quote-wr span.quote-title {
  font-family: 'PT Serif', serif;
  font-size: 56px;
  color: #FFFFFF;
  line-height: 50px;
  font-weight: 900;
  display: block;
}
.header-slider-wr .slide-content-wr .call-to-action-wr {
  margin-top: 25px;
}
.header-slider-wr .slide-content-wr .call-to-action-wr .button {
  font-weight: 500;
  font-size: 20px;
  padding: 12px 30px;
  border-radius: 999px;
  position: relative;
  box-shadow: none;
  border: solid 3px #292440;
  margin-top: 30px;
}
.header-slider-wr .slide-content-wr .call-to-action-wr .button:hover {
  background: none;
  color: #FFF;
  border-color: #FFF;
}
.header-slider-wr .slide-content-wr .call-to-action-wr .button span.icon-wr {
  display: inline-block;
  position: absolute;
  border: solid 2px #FFF;
  border-radius: 999px;
  font-size: 16px;
  padding: 5px;
  width: 25px;
  height: 25px;
  top: 16px;
  right: 30px;
}
.header-slider-wr .slide-content-wr .call-to-action-wr .button span.icon-wr span {
  position: absolute;
  left: 4px;
  top: 6px;
  font-size: 10px;
}
.header-slider-wr .slide-gradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 100%);
}
/* ==========================================================================
    PENSUM
     ========================================================================== */
.sidebar-nav-wr {
  background: #292440;
  padding-top: 95px;
  padding-bottom: 95px;
}
.sidebar-nav-wr h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: #F7F7F7;
}
.sidebar-nav-wr hr.border_hr {
  margin-top: 5px;
  opacity: .08;
  height: 4px;
}
.sidebar-nav-wr ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 2em;
  color: #F7F7F7;
}
div.main-inner-content {
  padding-top: 95px;
  padding-bottom: 95px;
}
.quick-ressources {
  background: #FFF;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 50px;
}
.quick-ressources .title-wr {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 15px;
}
.quick-ressources .title-wr h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #303030;
}
.quick-ressources .desc {
  font-family: 'PT Serif', serif;
  font-size: 14px;
  color: #898989;
  line-height: 18px;
  margin-bottom: 12px;
}
.quick-ressources a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #d1392d;
  text-decoration: underline;
}
/* ==========================================================================
    HOME
     ========================================================================== */
.benefits-wr {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 16px;
  color: #8A8A8A;
  line-height: 25px;
}
.benefits-wr h3 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 20px;
  color: #3A3A3A;
  line-height: 1.3em;
}
.benefits-wr .icon-wr {
  color: #292440;
  font-size: 50px;
  margin-bottom: 30px;
}
section#main-services .service-box {
  overflow: hidden;
  background: #292440;
  position: relative;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
section#main-services .service-box:before {
  content: "";
  display: block;
  padding-top: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.35s ease;
}
section#main-services .service-box:hover {
  background-size: 110% 110%;
  transition: all 0.35s ease;
}
section#main-services .service-box:hover * {
  transition: all 0.35s ease;
}
section#main-services .service-box:hover:before {
  opacity: .25;
}
section#main-services .service-box .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
}
section#main-services .service-box .content .child {
  position: absolute;
  bottom: 0;
}
section#main-services .service-box .content .child .inner {
  transform: translate(0, 120%);
  background: red;
}
section#main-services .service-box .content .child .inner h3 {
  color: #FFF;
}
section#main-services a.service-wr {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: all 0.35s ease;
}
section#main-services a.service-wr .image-wr {
  background: #000;
}
section#main-services a.service-wr .image-wr img {
  transition: all 0.35s ease;
}
section#main-services a.service-wr .content {
  position: absolute;
  bottom: 0;
  width: 100%;
}
section#main-services a.service-wr .content .inner {
  transform: translate(0, 100%);
  transition: all 0.35s ease;
}
section#main-services a.service-wr .content .inner h2 {
  color: #FFF;
  bottom: 100%;
  position: absolute;
  margin: 0;
  padding: 2rem;
  font-size: 30px;
  line-height: 40px;
}
section#main-services a.service-wr .content .inner .desc {
  padding: 0 2rem 1rem 2rem;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
}
section#main-services a.service-wr .content .inner span.learn-more {
  display: inline-block;
  color: #FFF;
  margin: 0 0 2rem 2rem;
  position: relative;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}
section#main-services a.service-wr:hover .image-wr img {
  opacity: .4;
  transition: all 0.35s ease;
}
section#main-services a.service-wr:hover .content .inner {
  transform: translate(0);
  transition: all 0.35s ease;
}
.product-overview {
  font-size: 20px;
  color: #6E6E6E;
  line-height: 30px;
}
.product-overview .inner-box {
  padding: 7rem 5rem;
}
.product-overview .inner-box h2 {
  font-family: 'PT Serif', serif;
  font-weight: 300;
  font-size: 50px;
  line-height: 1.2em;
  color: #3A3A3A;
}
.product-overview .inner-box h2 a {
  color: #3A3A3A;
  font-size: 20px;
  position: relative;
  top: -7px;
}
.product-overview .inner-box h2 a:hover {
  color: #292440;
}
.product-overview .inner-box .learn-more {
  display: block;
  margin-top: 50px;
}
section#caribbean-map {
  color: #FFF;
}
section#caribbean-map .title-wr h3 {
  color: #FFF;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1em;
}
section#caribbean-map .locations-wr {
  margin-top: 50px;
}
section#caribbean-map .locations-wr h4 {
  font-size: 21px;
  color: #FFF;
  font-weight: 500;
}
section#caribbean-map .locations-wr .locations {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1.3em;
}
section#caribbean-map .locations-wr .locations ul li {
  line-height: 1.3em;
}
/* ==========================================================================
    SERVICES
     ========================================================================== */
div.image-banner {
  margin-bottom: 40px;
}
div.image-banner .plus {
  font-size: 50px;
  font-weight: 500;
  color: #262626;
  margin: 0 20px;
}
div.image-banner .more-info {
  margin-top: 30px;
}
#drone-infographic {
  margin-top: 50px;
}
#drone-infographic .bottom-benefits {
  margin-top: 30px;
}
#drone-infographic .feature-wr {
  color: #297FCA;
}
#drone-infographic .feature-wr.middle {
  position: relative;
  top: -70px;
}
#drone-infographic .feature-wr span {
  display: block;
}
#drone-infographic .feature-wr span.icon {
  width: 36px;
  margin-bottom: 15px;
}
#drone-infographic .feature-wr span.icon.center {
  margin: 0 auto 15px auto;
}
#drone-infographic .feature-wr span.title {
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 7px;
}
#drone-infographic .feature-wr span.subtitle {
  opacity: 0.8;
  font-size: 16px;
  color: #757575;
  line-height: 1.1em;
}
/* ==========================================================================
    CAREERS
     ========================================================================== */
.job-listing {
  border-radius: 5px;
  overflow: hidden;
  border: solid #E5E5E5 1px;
}
.job-listing li a {
  display: block;
  border-bottom: solid #E5E5E5 1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #525252;
  transition: all 0.35s ease;
}
.job-listing li a:hover {
  background: #292440;
  transition: all 0.35s ease;
}
.job-listing li a:hover * {
  color: #FFF;
}
.job-listing li:last-child a {
  border-bottom: 0;
}
.job-listing span.info-wr {
  margin-right: 30px;
}
.job-listing span.info-wr span {
  display: inline-block;
  margin-right: 10px;
}
.job-listing span.view-more {
  display: inline-block;
  color: #FFF;
  border-radius: 999px;
  background: #292440;
  padding: .5rem 1.5rem;
}
section#job-overview {
  font-size: 16px;
  color: #656565;
  line-height: 25px;
}
section#job-overview .job-description-block {
  margin-bottom: 60px;
}
section#job-overview .job-description-block ul li {
  font-size: 1em;
  color: #292440;
  font-size: 35px;
  line-height: .5em;
}
section#job-overview .job-description-block ul li span {
  color: #656565;
  font-size: 16px;
}
/* ==========================================================================
    CONTACT
     ========================================================================== */
.map-view-wr .map-view {
  width: 100%;
  height: 700px;
}
.map-view-wr .map-view .gm-style img {
  max-width: none;
}
.map-view-wr .map-view .gm-style label {
  width: auto;
  display: inline;
}
.map-view-wr .map-view img {
  max-width: none !important;
  max-height: none;
}
.map-view-wr .infobox {
  position: relative;
  background: #FFF;
  font-weight: 400;
  font-size: 13px;
  color: #757575;
  line-height: 20px;
  border-radius: 8px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.map-view-wr .infobox span.subtitle {
  font-size: 16px;
  margin-bottom: 10px;
}
.map-view-wr .infobox span {
  display: block;
}
.map-view-wr .infobox a {
  font-size: 16px;
  color: #292440;
  line-height: 19px;
}
.map-view-wr .infobox:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: auto;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FFF;
  clear: both;
}
section#contact-form {
  font-size: 20px;
  color: #6E6E6E;
  line-height: 30px;
}
section#contact-form .alert {
  font-size: 14px;
}
section#contact-form h2 {
  font-size: 42px;
  font-weight: 300;
  color: #3A3A3A;
}
section#contact-form .confidential {
  display: inline-block;
  margin-left: 10px;
  margin-top: 12px;
  font-size: 16px;
}
/* ==========================================================================
    UTILS
     ========================================================================== */
body .flex-video {
  margin-bottom: 0;
  padding-bottom: 57.25%;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-700 {
  font-weight: 700;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #d1392d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}
section#service-menu .service-title {
  font-size: 50px;
  line-height: 1em;
  color: #3A3A3A;
}
section#service-menu .services-menu {
  padding-top: 50px;
}
section#service-menu .services-menu li {
  width: auto;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
section#service-menu .services-menu li a {
  display: block;
  padding: 12px 40px;
  border-color: #292440;
  font-size: 16px;
  color: #4A4A4A;
  font-weight: 300;
  line-height: 1em;
}
section#service-menu .services-menu li a span {
  display: block;
}
section#service-menu .services-menu li a:hover {
  background: #292440;
  color: #FFF;
}
section#service-menu .services-menu li:last-child {
  margin-right: 0;
}
.row.full-width {
  max-width: 100% !important;
}
.spacer-wr hr {
  margin-top: 35px;
  border: 0;
  height: 6px;
  background: #FFF;
}
.underline-links a {
  position: relative;
}
.underline-links a:after {
  display: block;
  position: absolute;
  bottom: -0.25rem;
  content: '';
  left: 0;
  right: 0;
  opacity: 0;
  transform: scaleX(0);
  border-bottom: solid 3px #292440;
  transition: all 0.25s ease;
}
.underline-links a:hover:after {
  transform: scaleX(1);
  opacity: 1;
  transition: all 0.25s ease;
}
.underline-links.white a:after {
  border-bottom-color: #FFF;
}
.under-line:after {
  display: block;
  position: absolute;
  bottom: -0.25rem;
  content: '';
  left: 0;
  right: 0;
  opacity: 0;
  transform: scaleX(0);
  border-bottom: solid 3px #292440;
  transition: all 0.25s ease;
}
.under-line:hover:after {
  transform: scaleX(1);
  opacity: 1;
  transition: all 0.25s ease;
}
/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
  display: none !important;
}
.transition-all {
  transition: all 0.35s ease;
}
section.small-padding {
  padding: 35px 0;
}
section.padding {
  padding: 70px 0;
}
section.large-padding {
  padding: 135px 0;
}
section.grey {
  background: #EFEFEF;
}
section.white {
  background: #FFF;
}
#content {
  background: #F7F7F7;
}
.seperator-wr {
  color: #E1E1E1;
  margin-top: 20px;
}
.seperator-wr .icon {
  display: block;
  position: relative;
  top: -10px;
}
.seperator-wr .liner {
  height: 10px;
  border-top: solid 2px #E1E1E1;
}
.circle-text {
  width: 100%;
}
.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #292440;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.circle-text > div {
  float: left;
  width: 100%;
  line-height: 1em;
  text-align: center;
  color: white;
  margin-top: 30px;
}
.circle-text.outline:after {
  border: solid 4px #292440;
  background: #FFF;
}
.column.collapse {
  padding: 0;
}
a span.underline {
  transition: all 0.25s ease;
  position: absolute;
}
a:hover {
  color: #FFF;
  transition: color 0.25s ease;
}
a:hover span.underline {
  opacity: 1;
  margin: 0;
}
a.empty-link {
  background: url('assets/images/ui/transparent.png') repeat 0 0;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
* {
  -webkit-font-smoothing: antialiased;
  outline: none;
}
.vcenter {
  opacity: 1!important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-slider-wr .vcenter {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.vbottom {
  height: 300px;
}
.vbottom .vbottom-inner {
  position: absolute;
  bottom: 0;
}
.block {
  text-align: center;
  white-space: nowrap;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.centered {
  display: inline-block;
  vertical-align: middle;
}
.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
-form input[type=number]::-webkit-inner-spin-button,
form#meal-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* Define mobile styles */
@media only screen and (max-width: 40em) {
  body {
    font-size: 22px;
    line-height: 1em;
  }
  .benefits-wr .benefit-item {
    margin-bottom: 30px;
  }
  .header-slider-wr .slide-content-wr .hero h1 {
    font-size: 26px;
  }
  section#caribbean-map .title-wr h3 {
    font-size: 32px;
    margin-top: 25px;
  }
  section#caribbean-map .title-wr {
    font-size: 22px;
    line-height: 1.4em;
  }
  .product-overview {
    font-size: 16px;
    color: #6E6E6E;
    line-height: 1.5em;
  }
  .product-overview .inner-box {
    padding: 3rem 1rem;
  }
  .product-overview .inner-box h2 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 25px;
    color: #3A3A3A;
  }
  .product-overview .inner-box .learn-more {
    display: block;
    margin-top: 50px;
  }
  .cta-end-mobile {
    margin-top: 50px;
  }
  section#main-services a.service-wr .content .inner h2 {
    font-size: 17px;
    line-height: 1.2em;
    padding: 10px;
  }
  section#caribbean-map {
    padding: 40px 0;
  }
  section#caribbean-map .badge_skyward {
    margin-left: -25px !important;
  }
  .spacer-wr hr {
    margin-top: 25px;
    border: 0;
    height: 6px;
    background: #FFF;
  }
  #content {
    padding-top: 40px;
  }
  .scroll_mobile {
    bottom: 20px;
    position: absolute;
    margin-left: 50%;
    left: -17px;
  }
  #top-bar-menu .book-demo-cta {
    padding-top: 0.2em;
  }
  #top-bar-menu.nav-up {
    top: -85px;
    border-bottom: none;
  }
  #top-bar-menu {
    background: none;
  }
  #top-bar-menu .inner {
    padding: 1.1rem 0;
    background: #FFF;
  }
  .menu-sticky #top-bar-menu #logo-wr,
  #top-bar-menu #logo-wr {
    margin-top: 0;
  }
  #top-bar-menu:hover,
  .menu-sticky #top-bar-menu {
    background: none;
  }
  #top-bar-menu #logo-wr a img {
    opacity: 0;
  }
  #top-bar-menu #logo-wr a img.color {
    opacity: 1;
  }
  #top-bar-menu #main-navigation .title-bar-right .icon-menu {
    color: #292440;
  }
  #top-bar-menu #logo-wr a {
    height: 50px;
    width: 50px;
  }
  #top-bar-menu #logo-wr ul {
    margin-right: 10px;
  }
  #top-bar-menu #logo-wr .we-are-open {
    margin-top: 0;
    color: #303030;
    font-size: 18px;
    line-height: 18px;
  }
  #top-bar-menu #logo-wr .we-are-open span.hours {
    font-size: 16px;
    line-height: 14px;
  }
  #top-bar-menu #main-navigation .column {
    width: 30px;
    padding: 0;
  }
  #top-bar-menu #main-navigation .title-bar-right {
    margin-top: 13px;
    margin-left: 0;
  }
  #nav-mobile {
    text-align: left;
    margin-top: 0;
  }
  #nav-mobile ul li a {
    position: relative;
    display: block;
    color: #FFF;
    background: #292440;
    padding: 0.9rem 0;
    font-size: 16px;
    font-weight: 500;
  }
  #nav-mobile ul li a span.icon {
    font-size: 20px;
    display: inline-block;
    position: relative;
  }
  #nav-mobile ul li a span.icon:before {
    position: absolute;
    top: -14px;
  }
  #nav-mobile ul li a span.disabled {
    color: #292440;
    opacity: 0;
  }
  #nav-mobile ul li a:hover {
    background-color: #14121f;
  }
  #nav-mobile ul li div.sub-nav-mobile {
    display: none;
    position: absolute;
    width: 100%;
  }
  #nav-mobile ul li div.sub-nav-mobile ul li a {
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    background: #43a6a3;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 0.5em;
  }
  body p {
    font-size: 0.7em;
  }
  .top-bar-left,
  .top-bar-right {
    width: auto;
  }
  .home .header-slider-wr .backstretch-image {
    height: 550px;
    padding-top: 0;
  }
  .header-slider-wr .slide-content-wr .main-quote-wr {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 25px;
    margin-top: 0;
    height: 110px;
  }
  .header-slider-wr .slide-content-wr .main-quote-wr span.quote-title {
    font-weight: 900;
    font-size: 31px;
    line-height: 28px;
  }
  .header-slider-wr .slide-content-wr .call-to-action-wr {
    margin-top: 30px;
    padding-bottom: 70px;
  }
  .header-slider-wr .slide-content-wr .call-to-action-wr .button {
    width: auto;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 40px;
    font-size: 17px;
  }
  .header-slider-wr .slide-content-wr .main-quote-wr .rating {
    margin-top: 10px;
  }
  .header-slider-wr .slide-content-wr .main-quote-wr div.author-wr {
    margin-top: 12px;
  }
  .header-slider-wr .slide-content-wr .main-quote-wr div.author-wr .author-info {
    height: 20px;
  }
  .home .header-slider-wr .vcenter {
    top: 60%;
    text-align: center;
  }
  .not-home .header-slider-wr .backstretch-image {
    height: 450px;
    padding-top: 0;
  }
  .not-home .header-slider-wr .vcenter {
    top: 56%;
    text-align: center;
  }
  .not-home .header-slider-wr .slide-content-wr .hero h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 0.2em;
  }
  .not-home .header-slider-wr .slide-content-wr .hero .subtitle {
    font-size: 19px;
    line-height: 23px;
  }
  #top-bar-menu .book-demo-cta .button {
    padding: 0.8rem 0.8rem;
    font-size: 12px;
    text-transform: uppercase;
  }
  .header-slider-wr .slide-content-wr .hero h1 {
    font-size: 23px;
  }
  .header-slider-wr {
    padding-top: 10px;
  }
  section.padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  footer #footer-nav ul li {
    display: block;
    text-align: right;
    margin: 0;
    padding: 0;
  }
  footer .copyright {
    font-size: 14px;
    font-weight: 500;
  }
  footer .info-wr .logo-wr img {
    margin-bottom: 20px;
  }
  .home .header-slider-wr footer .vcenter {
    top: 30px;
  }
  footer .credits {
    margin-top: 15px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5em;
  }
  footer .credits a span {
    color: #8A8A8A;
  }
  section#contact-form {
    padding-top: 125px;
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .header-slider-wr .slide-content-wr .hero h1 {
    font-size: 45px;
  }
  #top-bar-menu #main-navigation ul li .sub-menu-wr {
    top: 98px;
  }
  #top-bar-menu #main-navigation ul {
    margin-top: 9px;
  }
  .quick-menu .box-wr .icon-wr {
    width: 100%;
    height: 65px;
  }
  #top-bar-menu #main-navigation .title-bar-right {
    margin-top: 43px;
  }
  #top-bar-menu #main-navigation ul li {
    padding: 2.25rem 0.75rem 2.15rem 0.75rem;
  }
  #top-bar-menu #main-navigation ul li .sub-menu-wr ul li a {
    padding: 1rem 1rem;
    font-size: 14px;
  }
  footer #footer-nav ul li {
    display: inline-block;
    text-align: right;
  }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  footer nav#footer-nav ul li:first-child {
    padding-left: 0;
  }
}
/* min-width 1025px, large screens */
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* min-width 1921px, xxlarge screens */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  Safari and Chrome from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  /* Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  /* Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body.use-animations #site-cont {
  position: relative;
  z-index: 1;
}
body.use-animations .animate-scroll-block.show > .animate-scroll-block-inner,
body.use-animations .animate-scroll-block.show > .animate-scroll-block-inner-top {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 1.4s ease 0s, opacity 1.4s ease 0s;
  -moz-transition: -moz-transform 1.4s ease 0s, opacity 1.4s ease 0s;
  -ms-transition: -ms-transform 1.4s ease 0s, opacity 1.4s ease 0s;
  -o-transition: -o-transform 1.4s ease 0s, opacity 1.4s ease 0s;
  transition: transform 1.4s ease 0s, opacity 1.4s ease 0s;
}
body.use-animations .animate-scroll-block.show > .animate-scroll-block-inner.late {
  -webkit-transition: -webkit-transform 1.4s ease 0.2s, opacity 1.4s ease 0.2s;
  -moz-transition: -moz-transform 1.4s ease 0.2s, opacity 1.4s ease 0.2s;
  -ms-transition: -ms-transform 1.4s ease 0.2s, opacity 1.4s ease 0.2s;
  -o-transition: -o-transform 1.4s ease 0.2s, opacity 1.4s ease 0.2s;
  transition: transform 1.4s ease 0.2s, opacity 1.4s ease 0.2s;
}
body.use-animations .animate-scroll-block {
  overflow: hidden;
}
body.use-animations .animate-scroll-block > .animate-scroll-block-inner {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(20rem);
  -moz-transform: translateY(20rem);
  -ms-transform: translateY(20rem);
  -o-transform: translateY(20rem);
  transform: translateY(20rem);
  -webkit-transition: -webkit-transform 0.7s ease 0s, opacity 0.7s ease 0s;
  -moz-transition: -moz-transform 0.7s ease 0s, opacity 0.7s ease 0s;
  -ms-transition: -ms-transform 0.7s ease 0s, opacity 0.7s ease 0s;
  -o-transition: -o-transform 0.7s ease 0s, opacity 0.7s ease 0s;
  transition: transform 0.7s ease 0s, opacity 0.7s ease 0s;
}
body.use-animations .animate-scroll-block > .animate-scroll-block-inner-top {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(-20rem);
  -moz-transform: translateY(-20rem);
  -ms-transform: translateY(-20rem);
  -o-transform: translateY(-20rem);
  transform: translateY(-20rem);
  -webkit-transition: -webkit-transform 0.7s ease 0s, opacity 0.7s ease 0s;
  -moz-transition: -moz-transform 0.7s ease 0s, opacity 0.7s ease 0s;
  -ms-transition: -ms-transform 0.7s ease 0s, opacity 0.7s ease 0s;
  -o-transition: -o-transform 0.7s ease 0s, opacity 0.7s ease 0s;
  transition: transform 0.7s ease 0s, opacity 0.7s ease 0s;
}
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
